@import "./reset.css";

html, body {
	font-family: 'DM Sans', sans-serif;
	background-color: var(--page-bg);
	color: var(--text-color);
}
:root {
	--blackpure: #000;
	--black: #171718;
	--black-border: #25292D;
	--white: #fff;
	--purple: #5C62EC;
	--text-color: var(--black);

	--dark-bg: var(--black);
	--dark-border: var(--black-border);
	--header-text: var(--white);
	--accent: var(--purple);

	// Light mode

	--page-bg: var(--white);
	--text-color: var(--black);

	--box-shadow: (0px 5px 35px rgba(0,0,0, 0.25))
}

.dark {
	--page-bg: #252526;
	--text-color: var(--white);
	--box-shadow: (0px 5px 35px rgba(0,0,0, 0.8))
}

.wrapper {
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}

.container {
	max-width: 1190px;
	margin: 0 auto;
	padding:0 10px;
	
}
nav{
	color: var(--header-text);
	font-family: 'Poppins',sans-serif;
	background-color: var(--dark-bg);
	padding: 0 20px 20px 20px;
	border-bottom: 1px solid var(--dark-border);
	.nav__row{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.nav__logo:active, /* активная/посещенная ссылка */
	.nav__logo {
		text-decoration: none;
		color: var(--header-text);
		font-size: 24px;
		transition: opacity 0.2s ease-in;
		&:hover {
			opacity: 0.8;
		}
	}
	.nav__list{
		display: flex;
		.list__projects {
			margin-right: 3.7vw;
		}
		.list__item{
			margin-right: 3.7vw;
			transition: opacity 0.2s ease-in;
			a, 
			a:active {
				text-decoration: none;
				color: var(--header-text);
				font-weight: 500;
				line-height: 24px;
			}
			&:hover {
				opacity: 0.8;
			}
		}
		.list__item--active {
			position: relative;
			&::before{
				content: "";
				display: block;
				height: 2px;
				width: 100%;
				background-color: var(--accent);
				position: absolute;
				top: 100%;
			}
		}
	}
}

// Dark-mode

.btn__container {
	width: 60px;
	height: 30px;
	position: relative;
	margin: 0 auto;
	top: 30px;
}
.btn {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #3c3459;
	border-radius: 999px;
	padding: 10px;
	cursor: pointer;
}
// .btn--active::before {
// 	content: '';
// 	position: absolute;
// 	top: 1px;
// 	left: 28px;

// 	display: block;
// 	width: 24px;
// 	height: 24px;

// 	border-radius: 50%;
// 	background-color: white;
// }
.knob {
	width: 20px;
	height: 20px;
	position: relative;
}
.top {
	background-color: #827d96;
	border-radius: 999px;
	position: absolute;
	left: -5px;
	right: 5px;
	top: -5px;
	bottom: 5px;
}
.light {
	border-radius: 999px;
	position: absolute;
	width: 5px;
	height: 5px;
	background: radial-gradient(50% 50% at 50% 50%, #4cc3e2 10.42%, rgba(94, 199, 227, 0.791579) 27.08%, rgba(113, 204, 229, 0.35) 45.31%, rgba(144, 213, 231, 0.11) 65.1%, rgba(158, 216, 231, 0.02) 78.12%, rgba(177, 221, 233, 0) 95.83%);
	left: 25%;
	top: 30%;
	transform: translate(-50%, -50%);
}


// _____Header___________

.header {
	color: var(--header-text);
	background-color: var(--dark-bg);
	min-height: 695px;
	padding: 40px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-image: url(./../img/Abstract.svg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;
	h1{
		font-size: 60px;
		font-weight: bold;
		text-align: center;
		line-height: 55px;
	}
	.h1__bot{
		font-size: 40px;
		
	}
	p{
		text-align: center;
		font-size: 18px;
		font-weight: 500;
		margin: 20px 0 40px 0;
		letter-spacing: -0.5px;
	}
	.my__test {
		text-decoration: none;
		color: var(--header-text);
		font-weight: 500;
		padding: 12px 28px;
		background-color: var(--accent);
		border-radius: 5px;
		letter-spacing: 0.15px;
		transition: opacity 0.2s ease-in;
		&:active{
			position: relative;
			top: 1px;
			color: #5cec98;
		} /* активная/посещенная ссылка */
		&:hover{
			opacity: 0.8;
		}  /* при наведении */
	}
}

.blue{
	color: var(--accent);
	font-weight: 700;
}

// _____Projects____________________

.section {
	background-color: var(--page-bg);
	padding: 70px 0;
	h2{
		margin-bottom: 60px;
		font-size: 60px;
		line-height: 1.3;
		font-weight: bold;
		text-align: center;
	}
	
}
.projects {
	display: flex;
	flex-wrap: wrap;
	row-gap: 30px;
	column-gap: 30px;
	justify-content: center;
	max-height: 2500px;
	
	align-items: center;
	max-width: 1190px;
}
.projects__item {
	background-color: var(--page-bg);
	border-radius: 10px;
	
	max-width: 370px;
	box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
	img{
		border-radius: 10px;
	}
	h3{
		font-size: 24px;
		font-weight: bold;
		padding: 15px 0 25px 20px;
	}
	a {
		text-decoration: none;
		font-size: 24px;
		font-weight: bold;
		color: var(--text-color);
		line-height: 1.3;
		letter-spacing: -0.5px;
	}
}

// ___footer____________________________________

footer {
	background-color: var(--dark-bg);
	text-align: center;
	p{
		
		margin-top: 30px;
		padding-bottom: 30px;
		color: var(--header-text);
		font-weight: 400;
		
	}

}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: 310px;
	padding-top: 40px;
}
.footer__logo {
	transition: opacity 0.2s ease-in;
	&:hover {
		opacity: 0.3;
	}
	&:active{
		position: relative;
		top: 1px;
		color: #030303;
	}
}

// ____Projects-page__________________

.project__column {
	display: flex;
	flex-direction: column;
	align-items: center;
	a{
		text-decoration: none;
		color: var(--black);
		font-weight: 500;
		letter-spacing: 0.15px;
		line-height: 24px;
		margin-bottom: 70px;
		transition: opacity 0.2s ease-in;
		&:hover {
			opacity: 0.3;
		}
		&:active{
			position: relative;
			top: 1px;
			color: #030303;
		}
	}
.project__title {
	font-size: 60px;
	text-align: center;
	margin-top: 70px;
	letter-spacing: -0.5px;
	line-height: 130%;
}
.project__img {
	margin-top: 40px;
	max-height: 650px;
	justify-content: center;
	box-shadow: var(--box-shadow);
	border-radius: 10px;
}
.project__discription {
	margin-top: 40px;
	font-weight: 500;
	margin-bottom: 30px;
	letter-spacing: -0.5px;
	font-weight: bold;
	font-size: 24px;
	color: var(--text-color);
}
.project__btn {
	display: flex;
	border-radius: 5px;
	border: 1px solid var(--dark-bg);
	padding: 12px 20px;
	background-color: var(--white);
	span {
		padding-left: 10px;
		color: var(--black);
		letter-spacing: 0.15px;
		font-weight: 500;
	}
}
}

// ____Contacts-page_&_Skills-page______________________________

.contacts__column {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	line-height: 1.3;
	letter-spacing: -0.5px;
	max-width: 570px;
	margin: 0 auto;
}
.contacts__title {
	font-size: 60px;
	margin-top: 70px;
	line-height: 1.3;
	letter-spacing: -0.5px;
}
.contacts__item {
	font-size: 40px;
	font-weight: 700;
	margin-top: 40px;
	line-height: 1.3;
}
.contacts-discription {
	font-size: 18px;
	letter-spacing: -0.5px;
	line-height: 1.5;
	margin-top: 20px;
	font-weight: normal;
	&:last-child {
		margin-bottom: 250px;
	}
}
.skills__last {
	padding-bottom: 110px;
}