@import "./reset.css";

html, body {
	font-family: 'DM Sans', sans-serif;
}
// *{
// 	border: 1px solid red;
// }
.wrapper {
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}

.container {
	// border: 1px solid red;
	max-width: 1190px;
	margin: 0 auto;
	padding:0 10px;
	
}
nav{
	color: #FFFFFF;
	font-family: 'Poppins',sans-serif;
	background-color: #171718;
	padding: 20px;
	border-bottom: 1px solid #26292D;
	.nav__row{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.nav__logo:active, /* активная/посещенная ссылка */
	.nav__logo {
		text-decoration: none;
		color: #fff;
		font-size: 24px;
		transition: opacity 0.2s ease-in;
		&:hover {
			opacity: 0.8;
		}
	}
	.nav__list{
		display: flex;
		.list__projects {
			margin-right: 3.7vw;
		}
		.list__item{
			margin-right: 3.7vw;
			transition: opacity 0.2s ease-in;
			a, 
			a:active {
				text-decoration: none;
				color: white;
				font-weight: 500;
				line-height: 24px;
			}
			&:hover {
				opacity: 0.8;
			}
		}
			&:last-child {
			margin-right: 2vw;
		}
		.list__item--active {
			position: relative;
			&::before{
				content: "";
				display: block;
				height: 2px;
				width: 100%;
				background-color: #5C62EC;
				position: absolute;
				top: 100%;
			}
		}
	}
}

// _____Header___________

.header {
	color: #FFFFFF;
	background-color: #171718;
	min-height: 695px;
	padding: 40px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-image: url(./../img/Abstract.svg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;
	h1{
		font-size: 60px;
		font-weight: bold;
		text-align: center;
		line-height: 55px;
	}
	.h1__bot{
		font-size: 40px;
		
	}
	p{
		text-align: center;
		font-size: 18px;
		font-weight: 500;
		margin: 20px 0 40px 0;
		letter-spacing: -0.5px;
	}
	.my__test {
		text-decoration: none;
		color: #fff;
		font-weight: 500;
		padding: 12px 28px;
		background-color: #5C62EC;
		border-radius: 5px;
		letter-spacing: 0.15px;
		transition: opacity 0.2s ease-in;
		&:active{
			position: relative;
			top: 1px;
			color: #5cec98;
		} /* активная/посещенная ссылка */
		&:hover{
			opacity: 0.8;
		}  /* при наведении */
	}
}

.blue{
	color: #5C62EC;
	font-weight: 700;
}

// _____Projects____________________

.section {
	background-color: white;
	padding: 70px 0;
	h2{
		margin-bottom: 60px;
		font-size: 60px;
		line-height: 1.3;
		font-weight: bold;
		text-align: center;
	}
	
}
.projects {
	display: flex;
	flex-wrap: wrap;
	row-gap: 30px;
	column-gap: 30px;
	justify-content: center;
	max-height: 1100px;
	
	align-items: center;
	max-width: 1190px;
}
.projects__item {
	background-color: white;
	border-radius: 10px;
	
	max-width: 370px;
	box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
	img{
		border-radius: 10px;
	}
	h3{
		font-size: 24px;
		font-weight: bold;
		padding: 15px 0 25px 20px;
	}
	a {
		text-decoration: none;
		font-size: 24px;
		font-weight: bold;
		color: #171718;
		line-height: 1.3;
		letter-spacing: -0.5px;
	}
}

// ___footer____________________________________

footer {
	background-color: #171718;
	text-align: center;
	p{
		
		margin-top: 30px;
		padding-bottom: 30px;
		color: white;
		font-weight: 400;
		
	}

}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: 310px;
	padding-top: 40px;
}
.footer__logo {
	transition: opacity 0.2s ease-in;
	&:hover {
		opacity: 0.3;
	}
	&:active{
		position: relative;
		top: 1px;
		color: #030303;
	}
}

// ____Projects-page__________________

.project__column {
	display: flex;
	flex-direction: column;
	align-items: center;
	a{
		text-decoration: none;
		color: black;
		font-weight: 500;
		letter-spacing: 0.15px;
		line-height: 24px;
		margin-bottom: 70px;
		transition: opacity 0.2s ease-in;
		&:hover {
			opacity: 0.3;
		}
		&:active{
			position: relative;
			top: 1px;
			color: #030303;
		}
	}
.project__title {
	font-size: 60px;
	text-align: center;
	margin-top: 70px;
	letter-spacing: -0.5px;
	line-height: 130%;
}
.project__img {
	margin-top: 40px;
	max-height: 650px;
	justify-content: center;
	box-shadow: (0px 5px 35px rgba(0,0,0, 0.25));
	border-radius: 10px;
}
.project__discription {
	margin-top: 40px;
	font-weight: 500;
	margin-bottom: 30px;
	letter-spacing: -0.5px;
	font-weight: bold;
	font-size: 24px;
	color: #171718;
}
.project__btn {
	display: flex;
	border-radius: 5px;
	border: 1px solid #171718;
	padding: 12px 20px;
	span {
		padding-left: 10px;
		color:#171718;
		letter-spacing: 0.15px;
		font-weight: 500;
	}
}
}

// ____Contacts-page_&_Skills-page______________________________

.contacts__column {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	line-height: 1.3;
	letter-spacing: -0.5px;
	max-width: 570px;
	margin: 0 auto;
}
.contacts__title {
	font-size: 60px;
	margin-top: 70px;
	line-height: 1.3;
	letter-spacing: -0.5px;
}
.contacts__item {
	font-size: 40px;
	font-weight: 700;
	margin-top: 40px;
	line-height: 1.3;
}
.contacts-discription {
	font-size: 18px;
	letter-spacing: -0.5px;
	line-height: 1.5;
	margin-top: 20px;
	font-weight: normal;
	&:last-child {
		margin-bottom: 250px;
	}
}
.skills__last {
	padding-bottom: 110px;
}